@font-face {
  font-family: 'luckiest_guyregular';
  src: url('./fonts/luckiestguy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;
  background-image: url(images/Childrens-Ministry.jpg);
  background-size: cover;
}
/* body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(images/51cf6d559dee8c795d24a683cddf0871.jpg);
  background-size: cover;
  transform: scaleX(-1);
} */

nav {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-self: center;
}
main {
  height: 100vh;
  justify-self: flex-start;
}
h1 {
  text-align: center;
}

#main-container {
  margin: auto;
  width: 640px;
  height: 640px;
  border-radius: 10px;
  display: grid;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
#main-container div {
  padding-bottom: 100%; /* aspect ratio 1/1 */
}
