html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#main-container {
  margin: auto;
  width: 730px;
  height: 730px;
  border: solid 1px red;
  display: grid;
}
#main-container div {
  padding-bottom: 100%; /* aspect ratio 1/1 */
}
